*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#sound p{
    z-index: 9998;
    font-size: 10px;
    color: #999999;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    padding-right: 20px;
}

#logo img{
    z-index: 9999;
    width: calc(100/1366*100vw);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 20px;
  }
  